@model MVC.Bugdet.App.Models.OperationViewModel

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Operation Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ammount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ammount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "ui-button ui-corner-all ui-widget" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "ui-button ui-corner-all ui-widget" })
</p>
