@model MVC.Bugdet.App.Models.OperationViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Operation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdAccount, Model.Accounts, new { @class = "form-control selectmenu" })
                @Html.ValidationMessageFor(model => model.IdAccount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OperationType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdOperationType, Model.Categories, new { @class = "form-control selectmenu" })
                @Html.ValidationMessageFor(model => model.IdOperationType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ammount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ammount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ammount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @id = "datepicker", @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="ui-button ui-corner-all ui-widget" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "ui-button ui-corner-all ui-widget" })
</div>

@section datepicker{
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: "dd MM yy",
                firstDay: 1,
                showOtherMonths: true,
                selectOtherMonths: true,
                showWeek: true,
                weekHeader: "Week",
                gotoCurrent: true
            });
        })
    </script>
}
@section UI{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script>
        $(".selectmenu").selectmenu({

        });
    </script>
}
