@using MVC.Bugdet.App.Resources;
@model IEnumerable<MVC.Bugdet.App.Models.OperationViewModel>

@{
    ViewBag.Title = "Index";
}
@section styles {
    @Styles.Render("~/Content/DataTables/media/css/jquery.dataTables.css")
}
<h2>Operations</h2>

<p>
    @Html.ActionLink("Create New", "Edit", null, new { @class = "ui-button ui-corner-all ui-widget" })
</p>
<table id="tb-op" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Labels.OperationType
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ammount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(item.Account.Name + " - " + item.Account.Currency.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ammount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new {@class="ui-icon ui-icon-pencil" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new {@class="ui-icon ui-icon-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new {@class="ui-icon ui-icon-trash"})
                </td>
            </tr>
        }
    </tbody>
</table>

@section dataTable{
    @Scripts.Render("~/Scripts/DataTables/media/js/jquery.dataTables.min.js")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tb-op').DataTable();
        })
    </script>
}