@model MVC.Bugdet.App.Models.AccountViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Account details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new {@class="ui-button ui-corner-all ui-widget" }) |
    @Html.ActionLink("Back to List", "Index", null, new {@class="ui-button ui-corner-all ui-widget" })
</p>
