@model IEnumerable<Domain.AccountDto>

@{
    ViewBag.Title = "Index";
}
@section styles {
    @Styles.Render("~/Content/DataTables/media/css/jquery.dataTables.css")
}

<h2>Accounts</h2>

<p>
    @Html.ActionLink("Create New", "Edit", null, new { @class = "ui-button ui-corner-all ui-widget" })
</p>
<table id="tb-op" class="table table-bordered">
    <thead>
        <tr>
            <th>
                Currency
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "ui-icon ui-icon-pencil" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "ui-icon ui-icon-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "ui-icon ui-icon-trash" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section dataTable{
    @Scripts.Render("~/Scripts/DataTables/media/js/jquery.dataTables.min.js")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tb-op').DataTable();
        })
    </script>
}